# Create Tuple

In [1]:
# creating a tuple

# contains string, float values, integer values
t1 = ("Apple", "Orange", "Cherry", 1,2,3,4,5,10.5, 12.5,4)

print("Current tuple: ", t1)

Current tuple:  ('Apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 4)

# How to check length of tuple?

In [3]:
t2 = (1,2,3,4,5,6,7)

# checking the length of tuple t2

print("Size of tuple t2: ",len(t2))

Size of tuple t2:  7

# Indexing / Slicing

In [9]:
t1 = ("Apple", "Orange", "Cherry", 1,2,3,4,5,10.5, 12.5,4)

print("Current tuple: ", t1)

# Accessing the value by using index

print("Index 1 Value: ", t1[1])

# Accessing the value between index 1 to 6

print("Index between 1 to 6: ", t1[1:6])

# Accessing the last value

print("Lat value: ", t1[-1])

# Access the value till index 6

print("Values till index 6: ", t1[:6])

Current tuple:  ('Apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 4)
Index 1 Value:  Orange
Index between 1 to 6:  ('Orange', 'Cherry', 1, 2, 3)
Lat value:  4
Values till index 6:  ('Apple', 'Orange', 'Cherry', 1, 2, 3)

# Convert tuple into list

In [11]:
t1 = ("Apple", "Orange", "Cherry", 1,2,3,4,5,10.5, 12.5,4)
# before change
print("Current Tuple: ", t1)

x = list(t1) # converting tuple into a list.
print("After converting: ", x)

Current Tuple:  ('Apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 4)
After converting:  ['Apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 4]

# Tuple constructor

In [12]:
# note the double round brackets to create tuple using constructor.

t3 = tuple(("Apple", "Mango", "Cherry"))
print(t3)

('Apple', 'Mango', 'Cherry')

# Add item after converting tuple into list.

In [17]:
t4 = ("Apple", "Orange", "Cherry", "Mango")
#before converting
print("Current tuple: ", t4)
print(type(t4)) # to know the class of t4

x = list(t4)
# after converting
print(x)
print(type(x))

# Add item into list

x[1] = "Kiwi"
print("Updated List: ", x)

# Converting list back to tuple

y = tuple(x) # using constructor 
print("Updated Tuple: ", y)

Current tuple:  ('Apple', 'Orange', 'Cherry', 'Mango')
<class 'tuple'>
['Apple', 'Orange', 'Cherry', 'Mango']
<class 'list'>
Updated List:  ['Apple', 'Kiwi', 'Cherry', 'Mango']
Updated Tuple:  ('Apple', 'Kiwi', 'Cherry', 'Mango')

# Loops with tuples

In [18]:
# For loop with tuple

t5 = ("Apple", "Mango", "Orange", "Kiwi")
for i in t5:
    print(i)

Apple
Mango
Orange
Kiwi

In [20]:
# while loop with tuple

t5 = ("Apple", "Mango", "Orange", "Kiwi")
i = 0

while i<len(t5):
    print(t5[i])
    i=i+1
else:
    print("Loop finished")

Apple
Mango
Orange
Kiwi
Loop finished

# How to compare tuples

In [23]:
tuple1 = (1,2,3)
tuple2 = (1,2,4)

# tuple1 is equal to tuple2

print(tuple1 == tuple2)

# tuple1 is less than tuple2

print(tuple1<tuple2) # value 4 in tuple3 is greater than 3 in tuple1

# tuple1 is greater than tuple2

print(tuple1>tuple2)

False
True
False